html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*
.rounded {
	bottom: -8px;
	margin-left: 10px;
	position: relative;
	opacity: 1.0;
	z-index: inherit;
	float: left;
	height: 20px;
	padding: 2px 2px 2px 2px;
	width: 75px;
	border-radius: 3px;
	color: white;
	background: DarkSlateGray;
}
*/
/* .menu-container {
	display: block;
	text-align: center;
} 

.rounded:hover {
	background-color: green;
}

.hud {
	text-align: center;
	display: block;
	z-index: 100;
	position: relative;
	left: 50%;
	margin-left: -225px;
	bottom: -10px;
	border-radius: 5px;
	background-color: rgba(124, 98, 122, 0.8); 
	width: 500px;
	height: 40px;
}
*/

.renderspace {
	display: block;
	border: 1px solid black;
	width: 100%;
	height: 480px;
	margin: 0px auto;
	position: relative;
	float: left;
}

.renderspace .canvas {
	position: absolute;
}

.domlayer {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 1000;
}

.viewport {
	position: absolute;
	width: 100%;
	height: 100%;
}

.grid {
	width: auto;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-auto {
	width: auto;
}

fieldset {
	border-radius: 6px;
	border-color: #FF7F50;
	margin-bottom: 5px;
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(56%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));*/
}

legend {
	font-family: "Courier";
	font-size: 1em;
	border: 1px solid #FF7F50;
}

legend:hover {
	border: 1px solid green;
}

.col-1-4 {
  width: 25%;
}

.col-1-2 {
  width: 50%;
  display: block;
}

[class*='col-'] {
	float:left;
}
/*
.fpsbox {
	position: relative;
	right: 20px;
	top: 40px;
	display: block;
	margin-top:-20px;
	float: right;
	z-index: 1000;
	font-family: "Courier";
	font-size: 0.8em;
	color: white;
	background-color: rgba(124, 98, 122, 0.5);
}
*/


  .selectable { 
  	list-style-type: none;
  	margin: 0; 
  	padding: 0; 
  	overflow-y: auto;
  	height: 150px;
	min-width: -webkit-min-content;
  }

 ::-webkit-scrollbar {
      width: 8px;
} 

::-webkit-scrollbar-track {
      background-color: SandyBrown;
}

::-webkit-scrollbar-thumb {
      background-color: #696969;
}


::-webkit-scrollbar-corner {
      background-color: black;
}

.selectable li { 
	position: relative;
	margin: 3px; 
	float: left;
	width: 60px; 
	height: 60px; 
	font-size: 0.7em; 
}

.clipwrapper { 
	position: relative; 
	margin: 0px auto;
	overflow: hidden;
	display: block;
}
